@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
}

body {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.width-setter {
  padding: 0 3vw 0 11.6vw;
}

section {
  min-height: 150vh;
  width: 100%;

  .particle-head {
    opacity: 0;
    visibility: hidden;
  }

  .section-content {
    padding-top: 150vh;
    padding-bottom: 100vh;
  }
}

.before-particle {
  height: 800vh;

  .pin-container {
    width: 100%;
    height: 100vh;
    .visual-container {
      position: relative;
      width: 100%;
      height: 100%;

      .visual-wrap {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 50vmin;
        aspect-ratio: 1;

        opacity: 0;
        visibility: hidden;

        .visual {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            filter: blur(4px);

            transform: sacle(0.95);
          }
        }
      }
    }

    .text-container {
      position: absolute;
      top: 50%;
      left: 50%;

      text-transform: uppercase;
      font-size: 4.6vw;
      color: #eee;
      -webkit-text-stroke: 2px #272727;

      .text-wrap {
        position: absolute;

        transform: translate(-70%, -50%);

        top: 0;
        left: 0;

        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

@import './content.scss';
@import './hormone.scss';
